<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

	<!-- Since there is no reference to a Model, the ViewBag is needed to send values to this view wrapper. -->

	@if (ViewBag.TwitterCard != null)
	{
		<meta name="twitter:card" content="@ViewBag.TwitterCard" />
		<meta name="twitter:site" content="@ViewBag.TwitterId" />
		<meta name="twitter:creator" content="@ViewBag.TwitterCreatorId" />
		<meta name="twitter:title" content="@ViewBag.TwitterTitle" />
		<meta name="twitter:description" content="@ViewBag.TwitterDescription" />
		<meta name="twitter:image" content="@ViewBag.TwitterImage" />
		<meta name="twitter:image:alt" content="@ViewBag.TwitterImageAlt" />
	}

	<title>@ViewBag.Title</title>

	@Styles.Render("~/Content/FontAwesome")
	@Styles.Render("~/Content/css")
	@Styles.Render("~/Content/animate")
	@Styles.Render("~/Content/nanoGallery")

</head>

@*
	Bootstrap's Visual Breakpoints

	Device Mappings:

	Extra Small		xs		<  768px
	Small			sm		>= 768px		(iPad in portrait mode)
	Medium			md		>= 992px
	Large			lg		>= 1200 px
*@

<body>
	<header>
		<div class="navbar navbar-inverse navbar-fixed-top cbp-af-header">
			<div class="container">

				<!-- Mobile first. -->

				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<a href="~/Home/Index">
						<img src="~/Images/MilkSpillMenuAlpha.png" alt="Home" height="60" />
					</a>
				</div>

				<!-- If there's room. -->

				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="http://twitter.com/SpilledMilkCOM" target="_blank"><img src="~/Images/Twitter-Logo.png" alt="SpilledMilkCOM" height="30" /></a></li>
						<li><a href="http://www.facebook.com/SpilledMilkComics" target="_blank"><img src="~/Images/facebook-logo.png" height="30" /></a></li>
						<li><a href="http://www.instagram.com/spilledmilkcom/" target="_blank"><img src="~/Images/Instagram-logo.png" height="30" /></a></li>
						<li>@Html.ActionLink("Home", "Index", "Home")</li>
						<li>@Html.ActionLink("About", "About", "Home")</li>
						<li>@Html.ActionLink("Buy", "Buy", "Home")</li>
						<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
					</ul>

					@*@Html.Partial("_LoginPartial")*@
				</div>
			</div>
		</div>
	</header>

	<div class="container-fluid">
		@RenderBody()
	</div>

	<footer>
		<div class="container-fluid">
			<div class="row row-divider"> </div>
			<div class="row article-row">
				<div class="col-sm-3">
					&copy; 1996-@DateTime.Now.Year - @ViewBag.CompanyName
				</div>

				<div class="col-sm-3 fb-like" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>

				<div class="col-sm-4">
					<a href="https://twitter.com/SpilledMilkCOM" class="twitter-follow-button" data-show-count="true">Follow @@SpilledMilkCOM</a>
				</div>

				<div class="col-sm-2">
					<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
				</div>
			</div>
			<div class="row row-divider"> </div>
		</div>
	</footer>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/classie")
	@Scripts.Render("~/bundles/cbpAnimatedHeader")
	@Scripts.Render("~/bundles/easing")
	@Scripts.Render("~/bundles/stellar")
	@Scripts.Render("~/bundles/wow")
	@Scripts.Render("~/bundles/nanoGallery")

	@*  Has to go last to initialize stuff  *@
	@Scripts.Render("~/bundles/utilities")

	@RenderSection("scripts", required: false)
</body>
</html>
